/node_modules
/build
.DS_Store
yarn-error.log
.env
.eslintcache
/.idea
dist/
electron-builder.yml
/.yalc
yalc.lock
yarn.lock
# testing
coverage/
.nyc_output/
*.lcov
jest.results.json
.jest-cache/
src/types/contracts/
src/types/gateway/
tsconfig.tsbuildinfo
public/**/*.js
*.#*
bun.lockb